body #index {
    background-image: url(../mirallaFotos/indexx.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
}
.boton {
    background-color: aqua;
    margin: 40% 40% 20% 40%;
    padding: 5% 10%;
    box-shadow: 1px 1px 5px black;
}
.alfa {
    /**boton index**/
    margin-top: 10%;
    margin-left: 35%;
    color: black;
    font-weight: bolder;
    position: absolute;
}